@model Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="form-label fw-bold">Project Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label fw-bold">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner_id" class="form-label fw-bold">Owner</label>
                <select asp-for="owner_id" class="form-control" asp-items="@(new SelectList(ViewBag.Users, "Id", "Name"))"></select>
                <span asp-validation-for="owner_id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="form-label fw-bold"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="due_date" class="form-label fw-bold"></label>
                <input asp-for="due_date" class="form-control" />
                <span asp-validation-for="due_date" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
